<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
</div>
<center><h1>Edit "<%= @poem.title %>"</h1>
<p><%= @poem.content %></p></center>

<form action="/poems/<%= @poem.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h4>New Title:</h4>
  <input type="text" name="poems[title]">

  <h4>New Content:</h4>
  <textarea name="poems[content]" style="width:250px;height:150px;"></textarea>

  <h4>New Date:</h4>
  <input type="text" name="poems[date]">

  <h4>New Category:</h4>
  <input type="text" name="poems[category]">
  <br><br>

  <br><br>
  <input type="submit" value="Update Poem">
</form>
<form method="post" action="/poems/<%= @poem.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Poem">
</form>
