<% if flash.has?(:message) %>
 <center><%= flash[:message] %></center>
<% end %>
<h1>Welcome <%= current_user.username.capitalize %>! </h1>
<center>
<% if !current_user.poems.empty? %>
  <h2>Here are your poems: </h2>
  <ul>
  <% current_user.poems.each do |poem| %>
    <li><a href="/poems/<%=poem.id%>"><%= poem.title %></a></li>
    <br>
  <% end %>
<% else %>
    <%= "Looks like you have no poems to display" %>
<% end %>
</ul>
<br><br><br><br>
<a href="/poems/new">Create A New Poem</a><br><br>
<a href="/logout">Log Out</a>
