<h1>Submit A New Poem</h1>
<form method="POST" action="/poems">
  <h4>Title</h4>
  <input type="text" name="poems[title]">

  <h4>Date</h4>
  <input type="text" name="poems[date]">

  <h4>Content</h4>
  <textarea name="poems[content]" style="width:250px;height:150px;"></textarea>

  <h4>Select A Category</h4>
  <% if !Category.all.empty? %>
    <% Category.all.each do |category| %>
      <input type="checkbox" name="poems[category][][name]" value="<%= category.id %>" <%= 'checked' if Category.all.include?(category) %>>
      <%=category.name%>
      <% end %>
  <% else %>
    <%= "Sorry, you have no categories to display" %>
  <% end %>

  <h4>Create A New Category</h4>
  <input type="text" name="poems[category][][name]">
  <br><br>

  <% if flash.has?(:error) %>
   <%= flash[:error] %>
  <% end %>
  
  <input type="submit" value="Submit Poem">
</form>
