<center><h1><%= @poem.title %></h1>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
<p><%= @poem.content %></p>
<h4>Written: </h4>
<p><%= @poem.date %></p>

<h4>Category:</h4>
<p><%= @poem.category.name %></p>
<br><br>
</center>
<a href="/poems/<%=@poem.id%>/edit">Edit This Poem</a>
<br><br>
<form method="post" action="/poems/<%= @poem.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Poem">
</form>
<br><Br>
<a href="/logout">Log Out</a>
