<center>
<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
</div>

<h1> Welcome <%= @user.username.capitalize %>! </h1>

<% if !current_user.poems.empty? %>
  <h2>Here are your poems:</h2>
    <% current_user.poems.each_with_index do |poem, index| %>
        <a href="/poems/<%=poem.id%>"><%= index + 1 %>. <%= poem.title %></a>
    <% end %>
<% else %>
  <h2 class="user_show_heading"><%= "Looks like you don't have any poems yet" %></h1>
<% end %>
<br>
<br>

<a href="/poems/new" class="new">Create A New Poem</a><br>

<% if !current_user.categories.empty? %>
  <h2>Here are your categories:</h2>
    <% current_user.categories.each_with_index do |category, index| %>
        <a href="/categories/<%=category.id%>"><%= index + 1 %>. <%= category.name %></a>
    <% end %>
<% else %>
  <h2 class="user_show_heading"><%= "Looks like you don't have any categories yet" %></h2>
<% end %>
<br>
<br>

<a href="/categories/new" class="new">Create A New Category</a><br>
<br><br>
<a href="/logout">Log Out</a>
</center>
