<center>
<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
</div>

<h1>Edit <%= @category.name %></h1>

<form action="/categories/<%= @category.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h4>New Category Name:</h4>
  <input type="text" name="category[name]" value="<%= @category.name">

  <h4>Select a Poem to Assign to This Category</h4>
    <% if !current_user.poems.empty? %>
      <% current_user.poems.each do |poem| %>
        <input type="checkbox" name="category[poems][][title]" value="<%= poem.title %>">
        <%=poem.title%>
      <% end %>
    <% else %>
      <%= "Sorry, looks like you have no poems to display" %>
    <% end %>
  <br><br>
  <input type="submit" value="Update Category">
</form>
</center>
