
<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
</div>
<center><h1><%= @category.name %></h1>
<h2>Poems in This Category</h2>
  <% if !@category.poems.empty? %>
    <% @category.poems.each.with_index do |poem, index| %>
      <p><a href="/poems/<%= poem.id %>"><%= index + 1 %>. <%= poem.title %></a></p>
    <% end %>
  <% else %>
    <%= "Sorry, you have no poems to display" %>
  <% end %>
<br><br>


<a href="/categories/<%= @category.id %>/edit">Edit This Category</a>
<br><br>
  <form method="post" action="/categories/<%=@category.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Category">
</form>
<br>
<a href="/categories/new">Create A New Category</a>
<a href="/logout">Log Out</a>
</center>
