
<div id='flash' class='notice'>
  <% if flash.has?(:message) %>
   <%= flash[:message] %>
  <% end %>
</div>
<center><h1><%= @category.name %></h1>
<h2>Poems in This Category</h2>
  <% if !@poems.empty? %>
      <% @poems.each do |poem| %>
          <% if poem.user_id == current_user.id %>
            <p><a href="/poems/<%= poem.id %>"><%= poem.title %></a></p>
          <% end %>
      <% end %>
  <% else %>
        <%= "Sorry, you have no poems to display" %>
  <% end %>
<br><br>

<a href="/categories/<%= @category.id %>/edit">Edit This Category</a><br>
<a class="new" href="/categories/new">Create A New Category</a><br>
<a href="/users/:slug">Home</a>
<br><br>
  <form method="post" action="/categories/<%=@category.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Category">
</form>
</center>
