
<% if flash.has?(:message) %>
 <%= flash[:message] %>
<% end %>
<center><h1><%= @category.name %></h1>
<h2>Poems in This Category</h2>
  <% if !current_user.poems.empty? %>
    <% current_user.poems.each.with_index do |poem, index| %>
      <a href="/poems/<%= poem.id %>"><%= index + 1 %>. <%= poem.title %></a>
    <% end %>
  <% else %>
    <%= "Sorry, you have no poems to display" %>
  <% end %>
<br><br>


<a href="/categories/<%= @category.id %>/edit">Edit This Category</a>
<br><br>
  <form method="post" action="/categories/<%=@category.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Category">
</form>
<br>
<a href="/logout">Log Out</a>
</center>
